<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Billy Goats Gruff</string>
		<key>Text</key>
		<string>Far away in a field there lived three hungry billy goats. They were the Billy Goats Gruff and they didn&apos;t have any grass to eat on their field. Across the river there was another field with lots of grass, but the billy goats were scared to go.  To get to the grass they had to cross a bridge. Under the bridge lived a mean old troll who loved to eat billy goats.
One day they were so hungry that they decided to cross. Little Billy Goat had a plan to fool the troll. He crossed the bridge when the troll was sleeping. When the troll woke up, he yelled, &quot;A billy Goat! Yum!&quot;
Little Billy Goat said, &quot;Don&apos;t eat me! I&apos;m too small for you. Eat my sister. She is bigger and she&apos;s coming soon.&quot; So the troll let the Little Billy Goat cross.
Later that day Middle Billy Goat crossed the bridge. The troll jumped out and said, &quot;A billy goat! Yum!&quot;
Middle Billy Goat jumped back and said, &quot;No! I&apos;m too thin. I&apos;m all skin and bones. Eat my brother, he is big and has lots of meat and he is coming soon!&quot;
The troll thought about it and let her cross the bridge.
Later Big Billy goat came down the road. The troll was so hungry he jumped up and down. &quot;A big billy goat! Yum!&quot; he said. But when Big Billy Goat crossed the bridge, the troll saw how big he really was. Big Billy Goat was not scared. With his big horns he rammed the troll off the bridge. The troll landed in the river below and Big Billy Goat crossed the river to meet the other two billy goats.
Now all three Billy Goats Gruff enjoy the green grass from the other side of the river and the troll never bothered them again.</string>
		<key>Comp1</key>
		<string> How did the goats trick the troll?</string>
		<key>Comp2</key>
		<string>Why did the goats need to cross the bridge?</string>
		<key>Comp3</key>
		<string>Can you tell me what happened to the troll?</string>
		<key>Lexile</key>
		<integer>670</integer>
		<key>Grade</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Free Flight</string>
		<key>Text</key>
		<string>A pet bird is a caged bird. For that reason, it seems like a bad idea. For, aren&apos;t birds meant to fly free in the sky? However, there is a way to work around it. Did you know you can train your pet bird to fly free for some time and then return to its cage? Most caged birds are happiest when they are allowed some time to fly free every day. All you need to do is to teach your bird to trust you to come back to its cage.
There are simple steps you can follow to train your pet bird to do so. You can start by getting the bird to fly indoors first. For that, the first step would be to close all doors and windows of the room in which the bird will be flying around. The last thing you want is for the bird to escape! Draw curtains or pull down blinds so that the bird does not fly into the glass and hurts itself. If you have dogs or other pets, keep them away from this room. A dog barking and chasing the bird is just a bad idea. For safety reasons, do not try and get the bird to fly in a bathroom either. A nervous bird can fall into an open toilet. When you are sure that the room is a safe one to use, begin by opening the door of the cage. Offer your finger as a perch to your pet bird. Because it likes the idea of a perch, the bird will hop on to your finger. Practice this a few times. The bird needs to get used to the idea that your finger is a safe place for it.
The next step is to move your finger out of the cage with the bird sitting on it. Do this slowly or the bird will get startled. Once out of the cage, allow the bird to hop off. The bird will start to flutter and fly off. Allow it to fly around the room for a few minutes at a time. When it is time to call it off, use words that your bird understands like &quot;Come back to Daddy&quot; or &quot;Time for a treat.&quot;</string>
		<key>Comp1</key>
		<string>Why is it a good idea to make a caged bird fly free for some time every day?</string>
		<key>Comp2</key>
		<string>Why is it a good idea to begin these flying lessons indoors?</string>
		<key>Comp3</key>
		<string>What is the first thing one should do after opening the door of the cage?</string>
		<key>Lexile</key>
		<integer>810</integer>
		<key>Grade</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Bats</string>
		<key>Text</key>
		<string>For a long time, people used to think of bats as featherless birds. However, we now know bats to be mammals. Like other mammals, bats are warm-blooded creatures who nurse their babies with milk. However, bats are very special mammals. They are the only mammals that can fly.  Flying squirrels are mammals too, but they don&apos;t really fly.  All they do is leap or jump from trees. On the other hand, bats actually flap their wings and fly like birds do.
Bat wings are interesting body parts. They are made of two thin layers of skin stretched over the bat&apos;s arm and fingers. These wings go all the way down the side of the bat&apos;s body and even partway down its legs! Bats use their wings for more than just flying. Bats can wrap their wings around insects or fruit to hold it while they are eating.
There are close to a 1000 different kinds of bats, from the tiny bumble bee bat to the giant flying fox bat. With all of these different kinds of bats, it is not surprising that bats don&apos;t all eat the same things. A lot of bats eat fruit. Others eat insects or suck nectar from flowers. Some like to eat animals like frogs, fish, lizards, and small birds. The famous vampire bats suck blood from animals like horses and cows.
Bats are not blind! Bats have perfectly good eyes for seeing during daylight. At night, bats use their good hearing to fly safely without running into walls! They make sounds that bounce off of objects in their path, and send echoes back to the bats. From these echoes, bats can tell how far the object is.
Bats can be found almost anywhere in the world except in places that are either too cold or too hot. Apart from caves, bats live in trees, under bridges and in buildings. Some bats live alone while others like to live in large colonies of bats.</string>
		<key>Comp1</key>
		<string>What is this passage mostly about?</string>
		<key>Comp2</key>
		<string>Besides flying, what else do bats use their wings for?</string>
		<key>Comp3</key>
		<string>Why is it incorrect to say ‘as blind as a bat’?</string>
		<key>Lexile</key>
		<integer>830</integer>
		<key>Grade</key>
		<integer>4</integer>
	</dict>
</array>
</plist>
