<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Grade</key>
		<integer>1</integer>
		<key>Fall</key>
		<integer>0</integer>
		<key>Winter</key>
		<integer>23</integer>
		<key>Spring</key>
		<integer>53</integer>
	</dict>
	<dict>
		<key>Grade</key>
		<integer>2</integer>
		<key>Fall</key>
		<integer>51</integer>
		<key>Spring</key>
		<integer>89</integer>
		<key>Winter</key>
		<integer>72</integer>
	</dict>
	<dict>
		<key>Grade</key>
		<integer>3</integer>
		<key>Fall</key>
		<integer>71</integer>
		<key>Spring</key>
		<integer>107</integer>
		<key>Winter</key>
		<integer>92</integer>
	</dict>
	<dict>
		<key>Grade</key>
		<integer>4</integer>
		<key>Fall</key>
		<integer>94</integer>
		<key>Spring</key>
		<integer>123</integer>
		<key>Winter</key>
		<integer>112</integer>
	</dict>
	<dict>
		<key>Grade</key>
		<integer>5</integer>
		<key>Fall</key>
		<integer>110</integer>
		<key>Spring</key>
		<integer>139</integer>
		<key>Winter</key>
		<integer>127</integer>
	</dict>
	<dict>
		<key>Grade</key>
		<integer>6</integer>
		<key>Fall</key>
		<integer>127</integer>
		<key>Spring</key>
		<integer>150</integer>
		<key>Winter</key>
		<integer>140</integer>
	</dict>
	<dict>
		<key>Grade</key>
		<integer>7</integer>
		<key>Fall</key>
		<integer>128</integer>
		<key>Spring</key>
		<integer>136</integer>
		<key>Winter</key>
		<integer>150</integer>
	</dict>
	<dict>
		<key>Grade</key>
		<integer>8</integer>
		<key>Fall</key>
		<integer>133</integer>
		<key>Spring</key>
		<integer>151</integer>
		<key>Winter</key>
		<integer>146</integer>
	</dict>
</array>
</plist>
