<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Grade</key>
		<integer>1</integer>
		<key>Fall</key>
		<integer>0</integer>
		<key>Winter</key>
		<integer>47</integer>
		<key>Spring</key>
		<integer>82</integer>
	</dict>
	<dict>
		<key>Grade</key>
		<integer>2</integer>
		<key>Fall</key>
		<integer>79</integer>
		<key>Spring</key>
		<integer>117</integer>
		<key>Winter</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>Grade</key>
		<integer>3</integer>
		<key>Fall</key>
		<integer>99</integer>
		<key>Spring</key>
		<integer>137</integer>
		<key>Winter</key>
		<integer>120</integer>
	</dict>
	<dict>
		<key>Grade</key>
		<integer>4</integer>
		<key>Fall</key>
		<integer>119</integer>
		<key>Winter</key>
		<integer>139</integer>
		<key>Spring</key>
		<integer>152</integer>
	</dict>
	<dict>
		<key>Grade</key>
		<integer>5</integer>
		<key>Fall</key>
		<integer>139</integer>
		<key>Winter</key>
		<integer>156</integer>
		<key>Spring</key>
		<integer>168</integer>
	</dict>
	<dict>
		<key>Grade</key>
		<integer>6</integer>
		<key>Fall</key>
		<integer>153</integer>
		<key>Winter</key>
		<integer>167</integer>
		<key>Spring</key>
		<integer>177</integer>
	</dict>
	<dict>
		<key>Grade</key>
		<integer>7</integer>
		<key>Fall</key>
		<integer>156</integer>
		<key>Winter</key>
		<integer>165</integer>
		<key>Spring</key>
		<integer>177</integer>
	</dict>
	<dict>
		<key>Grade</key>
		<integer>8</integer>
		<key>Fall</key>
		<integer>161</integer>
		<key>Winter</key>
		<integer>173</integer>
		<key>Spring</key>
		<integer>177</integer>
	</dict>
</array>
</plist>
